* {
    line-height: 1.4;
}

.max-width {
    max-width: 600px;
    margin: auto;
}

#header {
    background-color: lightgray;
    padding: 1em;
    border-radius: 0.5em;
}

h1 {margin: 0;}

h2 {
    font-size: 1.5em;
    margin-top: 1.5em;
}
h2 a {
    text-decoration: none;
    color: black;
}
h2 a:hover {
    text-decoration: underline;
}

.center {text-align: center;}
.bold {font-weight: bold;}

.part1, .part2, .part3 {
    display: inline-block;
    font-weight: bold;
    border-radius: 0.5em;
}
.part1 {
    color: #7f6000;
    background-color: #fff2cc;
}
.part3 {
    color: #274e13;
    background-color: #d9ead3;
}
.part2 {
    color: #1c4587;
    background-color: #c9daf8;
}

.partlist .part1,.partlist .part2,.partlist .part3 {
    padding: 0.4em;
    font-weight: normal;
}
.partlist {
    padding-left: 0.5em;
}

p {
    margin: 0.5em 0 0.5em 0;
}

ul {
    padding-left: 1em;
}

li {
    padding-bottom: 0.5em;
}

p.solutions {margin-bottom: 0;}
ul.solutions {margin-top: 0.5em;}